<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <% if user_signed_in? %>
        <%= link_to "Show this product", product %>
      <%end%>
    </p>
  <% end %>
</div>
<%= paginate @products %>

<% if user_signed_in? %>
  <hr/>
  <%= link_to "Cart", cart_path %>
  <hr/>
  <%= link_to "New product", new_product_path %>
<%end%>
